/************
Colors
************/
/************
Media queries sizes
************/
/************
TEXT ALIGN
************/
body, p, #main h3, #main h2, #skills, footer h2, .contact h3 {
  text-align: center; }

/************
HEADER,FOOTER,MAIN WIDTH
************/
#main, footer {
  width: 90%; }

body {
  font-family: 'Montserrat', sans-serif;
  background: #b3b3b3;
  margin: 0; }

a {
  text-decoration: none;
  color: #514f4f; }

a:hover {
  color: #ff0000; }

ul {
  list-style: none; }

li {
  list-style-type: none; }

header {
  padding: 0px 0px;
  background: #4d94ff; }

.header-div1 h1 {
  padding-top: 20px;
  color: #514f4f; }
.header-div1 ul {
  width: 90%;
  padding: 0; }
.header-div1 li {
  background: #fff;
  margin-bottom: 2px; }

.header-div1, .nav {
  display: flex;
  flex-direction: column;
  align-self: center; }

.header-div2 {
  margin-top: 25px; }
  .header-div2 p {
    margin: 25px 5% 0;
    width: 90%;
    font-weight: lighter;
    padding-bottom: 30px; }

.header-images {
  width: 100%; }

.profile-image {
  width: 60%; }

#main {
  height: 100%;
  padding: 45px 5%;
  background: #e6e6e6; }
  #main h3 {
    margin-top: 0;
    margin-bottom: 45px;
    color: #514f4f; }
  #main div {
    width: 100%;
    margin-bottom: 50px; }
  #main h2 {
    color: #514f4f; }

#main p {
  width: 80%;
  margin: 16px 10%;
  color: #514f4f; }

#skills {
  background: #cce6ff;
  padding: 30px 0;
  color: #808080; }
  #skills ul {
    padding-left: 0; }

.paragraph-span-color {
  color: #4d94ff; }

footer {
  padding: 5% 5% 10%;
  background: #4d94ff;
  color: #a6a6a6;
  margin: 0; }
  footer h2 {
    font-size: 16px;
    color: #514f4f; }

#contact-info {
  border-bottom: #a6a6a6 solid 1px; }

.contact p {
  margin-bottom: 30px;
  color: #514f4f; }
.contact h3 {
  font-size: 14px; }

.left {
  float: left;
  margin-bottom: 0;
  color: #fff; }

.right {
  float: right;
  margin-bottom: 0; }

.large-nav {
  display: none; }

.phone-mail {
  color: #ff4d4d; }
  .phone-mail span {
    color: #514f4f; }

.email {
  margin-bottom: 50px; }

@media (min-width: 768px) {
  .header-div1 h1, #main div p, footer, footer p {
    text-align: center; }

  header {
    width: 90%; }

  body {
    background: #fff; }

  .nav {
    flex-direction: row;
    justify-content: center;
    vertical-align: middle; }

  header {
    margin: 0 5% 0;
    background: #fff;
    height: 400px;
    margin-bottom: 40px; }

  .header-div1 h1 {
    color: #737373; }
  .header-div1 li {
    background: #fff;
    margin-left: 20px; }

  .header-div2 p {
    display: inline-block;
    float: left;
    margin: 0px;
    width: 50%;
    color: #808080; }

  .profile-image {
    float: right;
    max-width: 330px; }

  #main {
    align-self: center;
    padding: 30px 0 0 0;
    margin-left: 5%;
    overflow: auto; }
    #main div {
      width: 40%;
      float: left;
      padding-left: 7%; }
    #main div p {
      font-size: 12px;
      font-weight: 400;
      color: #737373;
      width: 80%; }
    #main div h2 {
      font-size: 15px;
      color: #737373; }
    #main div h3 {
      margin-top: 25px;
      margin-bottom: 50px; }

  .skills {
    margin: 0 5%; }

  footer {
    background: #fff;
    padding-bottom: 5%; }
    footer p {
      padding: 30px 30% 40px;
      width: 39%;
      color: #737373; }

  .large-nav {
    display: block;
    float: right; }
    .large-nav li {
      display: inline-block;
      padding: 0 21px; }

  .right {
    display: none; } }
@media (min-width: 1024px) {
  header {
    margin-bottom: 0; }

  .header-div1 {
    flex-direction: row; }
    .header-div1 ul {
      width: 400px;
      margin-left: auto; }
    .header-div1 h1 {
      width: 250px; }
    .header-div1 p {
      width: 60%; }

  #main div {
    width: 30%;
    padding-left: 2.5%; } }

/*# sourceMappingURL=application.css.map */
