/************
Colors
************/
$white:          #fff;
$emperor:        #514f4f;
$dove-gray:      #737373;
$gray:           #808080;
$mercury:        #e6e6e6;
$dodger-blue:    #4d94ff;
$nobel:          #b3b3b3;
$silver-chalice: #a6a6a6;
$sunset-orange:  #ff4d4d;
$onahau:         #cce6ff;


/************
Media queries sizes
************/

$mq-tablet: "(min-width:768px)";
$mq-desktop: "(min-width:1024px)";
